body{
    color: rgb(29, 192, 218);
}

div{
    height: 500px; ;
    width: 500px; ;
    border: 3px; color: cornflowerblue ;
    box-shadow: 2px 2px 8px 2px ;
    position: absolute;
    background-image: (url(https://www.google.com/imgres?q=img&imgurl=https%3A%2F%2Fw7.pngwing.com%2Fpngs%2F388%2F487%2Fpng-transparent-computer-icons-graphy-img-landscape-graphy-icon-miscellaneous-angle-text-thumbnail.png&imgrefurl=https%3A%2F%2Fwww.pngwing.com%2Fen%2Fsearch%3Fq%3Dimg&docid=9ZxJ3UNt88oN5M&tbnid=WxOY_pDrSpcYkM&vet=12ahUKEwj-_erqwsqKAxWZBdsEHdFHO7IQM3oECG4QAA..i&w=360&h=360&hcb=2&ved=2ahUKEwj-_erqwsqKAxWZBdsEHdFHO7IQM3oECG4QAA));
}


































